body{
    height: 100%;
    color: #777;
    background: url(https://cdn.suwalls.com/wallpapers/flowers/white-blossoms-35624-1920x1200.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

p{
    position: sticky;
    top:20px;
    text-align: center;
    color:black;
    opacity: 0.5;
    
}



ul#two{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;  
  opacity:0.6;
}

h3.two{
    margin: 5%;
    font-weight: bold;
    color:#000000;
}

li{
    font-weight: bold;
    color: black;
}

p.three{
    font-weight: bold;
    color: black;
    
}
footer{
    text-align: center;
}

nav{
    list-style-type: none;
    background-color:rgb(233, 219, 230);
    display:inline;
    font-size: 20px;
    text-transform: uppercase;
    color: black;
   
}


section{
    padding: 50px;
    font-size: 20px;
}


}

#four{
    font-size: 30px;  
    position: static;
}
