body{
    width: 800px;
    margin: auto;
    background-color: rgb(215, 241, 238);
}

header{
    position: sticky;
    top:20px;
    text-align: center;

}

img{
    padding: 0px;
    border-radius: 50%;
    max-width: 500px;
    max-height: 500px;
    border-style: solid;
}



p{
    font-size: 20px;
    text-indent: 50px;
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
}

footer{
    text-align: center;
}

#nav1{
    list-style-type: none;
    background-color:rgb(233, 219, 230);
    display:inline;
    font-size: 20px;
    text-transform: uppercase;
}


section{
    padding: 50px;
    font-size: 20px;
}

#one{
    background-color: azure;
    border: black;
    border-style: ridge;
    position: static;
}
    
#two{
    background-color: cadetblue;
    border: black;
    border-style: ridge;
}

#three{
    background-color: cornsilk;
    border: black;
    border-style: ridge;

}

.four{
    font-size: 30px;  
    position: static;
}

.five{
    font-size: 30px;
    position: static;
}

.six{
    font-size: 30px;
    position: static;
}