body{
    width: 1000px;
    margin: auto;
}

header{
    text-align: center;
}

p{
    font-size: 20px;
    text-indent: 50px;
}

nav{
    font-style: none;
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
    
}

